<!DOCTYPE html>
<html>
  <head>
    <title>Pineterest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style2.css">
  </head>
  <body>
    <div class="header">
    <a class="btn btn-default" id="but" href="/post" role="button">Make Pin</a>
    <p class="lead" id="hi"> Hello Fwitter </p>
    </div>

    
    
  </body>
</html>