<!DOCTYPE html>
<html>
  <head>
    <title>Pinterest</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="header">
    <header>
      <p id="ver">Pinterest</p>
    </header>
    </div>
      <div id="form">
      <h4>Sign Up</h4>
      <form method="POST" action="/signup">
        <div class="form-group">
          <label for="user">Username</label>
          <input type="text" class="form-control" placeholder="user" name="user" id="user">
        </div>
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" class="form-control" placeholder="full name" name="name" id="user">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" placeholder="email" name="email" id="user">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="password" name="password" id="user">
        </div>
        

 
        <button type="submit" class="btn btn-default but">Submit</button>
        <div id="red"><%= @error2 %></div>
      </form>
      </div>
  </body>
</html>